<h1>Payment Calculation</h1>

<form action="http://localhost:3000/payment/results">
  <label for="interest_rate">
    APR
  </label>
  <input id="interest_rate" type="text" name="interest_rate">
  </div>

  <label for="years">
    Number of years
  </label>
  <input id="years" type="text" name="years">
  </div>

  <label for="amount">
    Principal
  </label>
  <input id="amount" type="text" name="amount">
  </div>

  <button>Calculate monthly payment</button>
</form>
