<h1>Square Root Calculation</h1>

<form action="http://localhost:3000/square_root/results">
  <label for="users_number">
    Enter a number
  </label>
  <input id="users_number" type="text" name="user_provided_number">
  </div>
  <button>Calculate square root</button>
</form>
